-if params[:category]
  -if Category.select(:name_eng).map(&:name_eng).include? params[:category]
    -if Brand.select(:name).map(&:name).include? params[:brand]
      =render collection.items.where(:category_id => Category.find_by_name_eng(params[:category]).id, :brand_id => Brand.find_by_name(params[:brand]).id)
    -else
      =render collection.items.where(:category_id => Category.find_by_name_eng(params[:category]).id)
  -else
    =render collection.items.where(:brand_id => Brand.find_by_name(params[:category]).id)
-else
  =render collection.items