/ = semantic_form_for [:admin, @item], :html => {:multipart => true} do |f|
/ 	=f.inputs "Basic" do
/ 		=f.input :name
/ 		=f.input :category
/ 		=f.input :brand
/ 		=f.input :season, :as => :select, :collection => Season.all.collect {|p| [ p.year.to_s+" "+p.name.to_s, p.id ] }    , :include_blank => false
/ 		=f.input :structure
/ 		=f.input :description
/ 		=f.input :price
/ 		=f.input :discount
/ 		=f.input :sex, :as => :radio, :collection => [["Male", "male"], ["Female", "female"]]
/ 		=f.input :admin_user_id, :value => current_admin_user.id, :as => :hidden
/ 		=f.input :pictures, :as => :check_boxes, :label_method => Proc.new { |image| image_tag(image.name, :alt => "") + content_tag("h3", image.name)  }
/ 	=f.inputs do
/ 		=f.semantic_fields_for :pictures do |p|
/ 			=p.inputs :name
/ 			=p.inputs :image, :as => :file
/ 	=f.buttons