= semantic_form_for [:admin, @boutique], :html => {:multipart => true} do |f|
  = f.inputs "Basic" do
    =f.input :name
    =f.input :ico
    =f.input :multibrand, :as => :boolean
    =image_tag @boutique.image.url if !@boutique.image.nil?
    =f.input :promo
    =f.input :phone, :as => :phone
    =f.input :phone2, :as => :phone
    =f.input :address
    =f.input :director
    =f.input :url_bout
    =f.input :email
    =f.input :website
    =f.input :image
    =image_tag @boutique.image.url if @boutique.image
    =f.input :admin_user_id, :value => current_admin_user.id, :as => :hidden
    =f.input :description, :as => :text
    =f.input :admin_user_id, :value => current_admin_user.id, :as => :hidden
    =f.buttons