#makeMeScrollable
  .scrollingHotSpotLeft
  .scrollingHotSpotRight
  .scrollWrapper
    .scrollableArea
      =render @boutique.items
              
-if @boutique.multibrand
  =content_for :brands do
    .vert_menu
      .domtab
        %ul.domtabs
          %li
            %a{:href => "#t1"} Категории
          %li
            %a{:href => "#t2"} Бренд
        %div.div
          %h2
            %a#t1{:name => "t1"}
          -@boutique.categories.uniq.each do |c|
            %p.each=link_to c.name, "/2012/winter/#{c.name_eng}"

        %div.div
          %h2
            %a#t2{:name => "t2"}
          -@boutique.brands.uniq.each do |b|
            %p.each=link_to b.name, "/2012/winter/#{b.name_eng}"
-else
  =content_for :brands do
    .vert_menu
      .domtab
        %div.div
          %h2
            %a#t1{:name => "t1"}
          -@boutique.categories.uniq.each do |c|
            %p.each=link_to c.name, "/2012/winter/#{c.name_eng}"
=content_for :promo do
  #promo=Sanitize.clean(@boutique.promo)