=render @boutique.brands


=content_for :collections do
  .catalog_header
    .catalog_name
      %h1 Коллекция 2011
    .collections
      %ul
        -@boutique.collections.each do |c|
          %li=link_to "Collection "+c.year.to_s, [@boutique, c]

=content_for :brands do
  .vert_menu
    %ul
      -@boutique.brands.each do |b|  
        %li=link_to b.name, [@boutique, b]