.catalog_items
  =render @items
  .free_space
-if @boutique.brands.count > 1
  =content_for :brands do
    .vert_menu
      .domtab
        %ul.domtabs
          %li
            %a{:href => "#t1"} Категории
          %li
            %a{:href => "#t2"} Бренд
        %div
          %h2
            %a#t1{:name => "t1"}
          -Category.all.each do |c|
            %p.each=link_to c.name, "#"
        %div
          %h2
            %a#t2{:name => "t2"}
          -@boutique.brands.each do |b|
            %p.each=link_to b.name, "#"
-else
  =content_for :brands do
    .vert_menu
      %ul
        -@boutique.brands.each do |b|  
          %li=link_to b.name, [b.boutique, b]
=content_for :promo do
  #promo=Sanitize.clean(@boutique.promo)