#makeMeScrollable
  .scrollingHotSpotLeft
  .scrollingHotSpotRight
  .scrollWrapper
    .scrollableArea
      =render @boutique.items
              
-if @boutique.multibrand
  =content_for :brands do
    .vert_menu
      .domtab
        %ul.domtabs
          %li
            %a{:href => "#t1"} Категории
          %li
            %a{:href => "#t2"} Бренд
        %div.div
          %h2
            %a#t1{:name => "t1"}
          -@boutique.collections.each do |c|
            -c.brands.each do |b|
              -b.categories.each do |cat|
                %p.each=link_to cat.name, "/2012/winter/#{cat.name_eng}"
        %div.div
          %h2
            %a#t2{:name => "t2"}
          -@boutique.collections.each do |c|
            -c.brands.each do |b|
              %p.each=link_to b.name, "/2012/winter/#{b.name}"
-else
  =content_for :brands do
    .vert_menu
      .domtab
        %div.div
          %h2
            %a#t1{:name => "t1"}
          -@boutique.collections.each do |c|
            -c.brands.each do |b|
              -b.categories.each do |cat|
                %p.each=link_to cat.name, "/2012/winter/#{cat.name_eng}"
=content_for :promo do
  #promo=Sanitize.clean(@boutique.promo)