#content
  .space
  #right_pane
    -for bout in @boutiques
      .box
        %a= link_to(image_tag(bout.image.url, :alt => bout.name), root_url(:subdomain => bout.url_bout))
#slideshow
  =image_tag('image1.jpg', :class => 'active')
  =image_tag('image2.jpg')
  =image_tag('image3.jpg')