= semantic_form_for [:admin, @collection] do |f|
  = f.inputs do
    =f.input :name
    =f.input :year, :as => :select,  :collection => 2011..Time.now.year+1
    =f.input :season, :collection => ["winter", "spring", "summer", "autumn"]
    =f.input :new_collection, :as => :boolean
    =f.input :admin_user_id, :value => current_admin_user.id, :as => :hidden if cannot? :manage, AdminUser
    =f.buttons