.left=prev_item(@item.id)
.center
  .photo=image_tag @item.pictures.first.image.url(:large)
  .description=@item.description
  .structure=@item.structure
  .pictures=render @item.pictures
.right=next_item(@item.id)