.item_box
  =link_to image_tag(item.pictures.first.image.url(:medium)), [item.collection.brand.boutique, item.collection.brand, item.collection, item]
  .price_txt
  .price
  .rating
    -5.times do |i|
      %div{:class => "star#{(i+1)**2}"}
        = link_to "", rates_path(:item_id => item.id, :count => i+1), :remote => true, :method => :post
  .addthis_toolbox.addthis_default_style
    %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
    %a.addthis_button_tweet



  