=link_to image_tag(item.pictures.first.image.url(:extra_large), :height => "500"), item, :class => "load_item"
=image_tag "rails.png", :class => "new_collection" if item.collection.new_collection
=image_tag "rails.png", :class => "discount" if item.discount