.item_box
  =link_to image_tag(item.pictures.first.image.url(:medium)), [item.collection.brand.boutique, item.collection.brand, item.collection, item]
  .price_txt
  .price
  .rating
    -5.times do |i|
      %div{:class => "star#{(i+1)**2}"}
        = link_to "", rates_path(:item_id => item.id, :count => i+1), :remote => true, :method => :post
  %a.twitter-share-button{"data-count" => "none", :href => "https://twitter.com/share"} Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .fb-like{"data-font" => "arial", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}
  %button.quick_look=link_to "quick look", popup_item_path(item), :class => "load_item"
  



  