.left=prev_item(@item.id, @item.collection.brand)
.center=image_tag @item.pictures.first.image.url,:size => "592x350"
.right=next_item(@item.id, @item.collection.brand)
.middle
  .structure=@item.structure
  .rating
    -5.times do |i|
      %div{:class => "star#{(i+1)**2}"}
        = link_to "", rates_path(:item_id => @item.id, :count => i+1), :remote => true, :method => :post
.description=@item.description.html_safe
.pictures=render @item.pictures.limit(5)
  
