=render @brand.items

-if @boutique.brands.count > 1
  =content_for :brands do
    .vert_menu
      .domtab
        %ul.domtabs
          %li
            %a{:href => "#t1"} Категории
          %li
            %a{:href => "#t2"} Бренд
        %div.div
          %h2
            %a#t1{:name => "t1"}
          -Category.all.each do |c|
            %p.each=link_to c.name, request.path+"?category=#{c.id}"
        %div.div
          %h2
            %a#t2{:name => "t2"}
          -@boutique.brands.each do |b|
            %p.each=link_to b.name, b
-else
  =content_for :brands do
    .vert_menu
      .domtab
        %div.div
          %h2
            %a#t1{:name => "t1"}
          -Category.all.each do |c|
            %p.each=link_to c.name, request.path+"?category=#{c.id}"